
.hidden {
    display: none;
}

/* body {
    background-color: black;
    background-image: url("https://placeimg.com/960/540/nature");
    background-repeat: no-repeat;
    background-size: cover;
} */


